/* navigation section */
 /* NAVBAR 1 */
 /* * {
  width: 100%;
  margin: 0px;
} */
/* NAVBAR 1 */
#outerNavbar1{
    background-color: black;
    width: 100%;
}
#navbar1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 14px;
}
#outerNavbar1>div{
    /* border: 1px solid red; */
    display: grid;
    gap:200px
}
#outerNavbar1>div>div:nth-child(2){
    margin-left: 150px;
    /* border: 1px solid red; */
}
#navbar1 > div > div:first-child > img {
  width: 30px;
}
#navbar1 > div > div > img {
  display: block;
  align-items: center;
  width: 20px;
}

#navbar1 > div:first-child {
  display: flex;
  width: auto;
  cursor: pointer;
}
#navbar1 > div:first-child > div {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  gap: 10px;
}
#navbar1 > div:first-child > div:first-child > img {
  /* border: 1px solid red; */
  width: 30px;
}
#navbar1 > div:first-child > div > img {
  background-color: white;
}
#navbar1 > div:last-child {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 80%;
}
#navbar1 > div:last-child > div:nth-child(1),
#navbar1 > div:last-child > div:nth-child(2) {
  padding: 5px 10px;
  width: auto;
  border-right: 1px solid rgb(93, 94, 92);
}
#navbar1 > div {
  display: flex;
  /* border: 1px solid grey; */
}
#navbar1 > div:last-child > div:nth-child(3) {
  /* border: 1px solid red; */
  padding-left: 10px;
  padding-right: 0px;
  width: auto;
}

/* NAVBAR 2 */
#navbar2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 50px;
  margin-top: 4px;
  position: sticky;
  top: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #f7f8f7;
}
#navbar2 > div:first-child {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 50%;
  align-items: center;
}
#navbar2 > div:first-child > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* hover style */
#navbar2 > div:first-child > div:hover {
  color: rgb(10, 22, 150);
}

#navbar2 > div:first-child > div:first-child {
  color: rgb(48, 58, 178);
  font-size: 36px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-bottom: 7px;
}

span {
  color: rgb(228, 0, 43);
}
#navbar2 > div:first-child > div:last-child > img {
  width: 5%;
  padding: 5px 0px 5px;
  background-color: rgb(236, 237, 235);
}
#navbar2 > div:first-child > div:last-child {
  display: flex;
  justify-content: start;
  height: 80%;
  gap: 20px;
  background-color: rgb(236, 237, 235);
  padding-left: 10px;
  margin-bottom: 0px;
}

/* input tag */
input {
  background-color: rgb(236, 237, 235);
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}

#navbar2 > div:first-child + div > div:last-child > img {
  width: 20%;
}
#left-nav {
  display: grid;
  grid-template-columns: 30% 30%;
  justify-content: flex-end;
  align-items: center;
}
#left-nav > div:first-child {
  height: 60%;
  border-right: 1px solid rgb(200, 201, 198);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#left-nav > div:last-child {
  display: flex;
  height: 100%;
  justify-content: center;
  margin-right: 20px;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}

/* NAVBAR 3 */

/* #navbar3 {
  display: flex;
  width: 100%;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: sticky;
  top: 50px;
  margin-bottom: 5px;
  background-color: white;
} */
#navbar3 > div {
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0px 10px;
}
#navbar3 > div:hover {
  color: blue;
  border-bottom: 2px solid rgb(48, 58, 178);
}
/* #navbar3 > div:last-child {
  padding: 0px 20px;
  border: none;
} */
#navbar3 + div {
  text-align: center;
  background-color: rgb(48, 58, 178);
  color: rgb(235, 255, 255);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
#nav-3 > div {
text-align: center;
box-sizing: border-box;
background-color: rgb(48, 58, 178);
color: rgb(235, 255, 255);
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
}
#women:hover,#men:hover,#girl:hover,#boy:hover{
    background-color:#fff;

}

/* product section */
*{
font-family: "ProximaNova-Regular","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";;
}
#filter{
background-color: #f7f8f7;

}

#filter .option{
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(2, 40px);
    justify-content: space-around;
    padding: 20px;
    grid-gap: 20px;
}

#filter .option select{
    display: grid;
    justify-content: center;
    align-items: center;
}
