h1{
    text-align: center;
    font-weight: 500;
    margin-bottom: -10px;
}
p{
    color: grey;
    text-align: center;
    margin-bottom: 20px;
}
#logo{
    display: grid;
    grid-template-columns: repeat(3,30%);
    width: 380px;
    gap: 20px;
    margin: auto;
    margin-bottom: 20px;
}
#logo>div{
 
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width:100%;
}
form{
 display: grid;
 gap: 20px;
 
 width: 300px;
 padding: 50px 30px;
 margin: auto;
 border-radius: 10px;
 background: linear-gradient(to right,rgb(48,58,178),rgb(228,0,43));
 
}
input{
    font-size: 20px;
    margin: auto;
    border: none;
    padding: 5px;
    outline: none;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
}
input:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 0px;
}
input:last-of-type{
   color: white; 
   background-color:darkblue;
 
}
input:last-of-type:hover{
    padding: 5px 15px;
    border-radius: 6px;
    font-weight: bold;
}
h2{
    text-align: center;
   
    background:linear-gradient(to right,rgb(48,58,178),rgb(228,0,43));
    color: white;
    width: 200px;
    margin: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 5px 5px 0px 0px;
}